@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,600italic);
/**
* css/item/all.less
*
* This file contains the generic styles for the item page. These styles should be applied on all devices,
* but might be overwritten in specific cases for certain devices.
*/
.videocontest .jumbotron-wide {
  background: url('/eddie/apps/euscreenxlelements/img/content/banners/bg-about.jpg');
}
.videocontest .main {
  padding-top: 0px !important;
}
.videocontest .main .videocontest-content {
  background: #ffffff;
  padding: 50px 0 50px 0;
}
.videocontest .main .videocontest-content h1 {
  text-align: center;
  color: #ec008c;
  margin: 0px 0 30px 0;
  line-height: 1.3em;
}
.videocontest .main .videocontest-content p {
  margin-top: 20px;
  line-height: 2.1em;
  font-size: 1.05em;
  font-weight: lighter;
}
.videocontest .main .videocontest-content p a {
  color: inherit;
  border-bottom: 1px dotted #000;
}
.videocontest .main .videocontest-content ol li {
  margin-bottom: 10px;
  line-height: 2.1em;
  font-size: 1.05em;
  font-weight: lighter;
}
.videocontest .main .videocontest-content .box-link {
  margin-top: 30px;
  font-size: 0.857em;
  color: #00aeef;
  border-color: #00aeef;
}
.videocontest .main .videocontest-content .box-link:active {
  color: #fff;
  background: #00aeef;
}
.videocontest .main .welcome-text h1 {
  text-align: center;
  color: #00aeef;
  margin: 0px 0 30px 0;
}
.videocontest .main .welcome-text p {
  margin-top: 0px;
  line-height: 2.1em;
  font-size: 1.05em;
  font-weight: lighter;
}
.videocontest .main .content-selection {
  margin-top: 6px;
  padding-bottom: 0px;
  border-left: 5px solid #f2f2f2;
  border-right: 5px solid #f2f2f2;
}
.videocontest .main .content-selection .box-link:hover {
  color: #ec008c;
  border-color: #ec008c;
}
.videocontest .main .content-selection-aggregation {
  text-align: center;
  border-left: 5px solid #f2f2f2;
  border-right: 5px solid #f2f2f2;
}
.videocontest .main .content-selection-aggregation .box-link:hover {
  color: #ec008c;
  border-color: #ec008c;
}
.videocontest .main .content-selection-aggregation .img-responsive {
  display: inline-block;
}
.videocontest .main .content-selection-aggregation .heading {
  border-top: 1px solid #f2f2f2;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ec008c;
}
.videocontest .main .content-selection-aggregation .items {
  border-top: 1px solid #f2f2f2;
  margin-left: 0px;
  margin-right: 0px;
}
.videocontest .main .content-selection-aggregation .items .intro {
  padding-left: 0px;
  padding-top: 30px;
}
.videocontest .main .content-selection-aggregation .items .intro h2 {
  margin-top: 0px;
  font-size: 1.357em;
  line-height: 1.3em;
  color: #ec008c;
  text-align: center;
}
.videocontest .main .content-selection-aggregation .items .intro p {
  margin-top: 20px;
  line-height: 1.8em;
  color: #898989;
  font-size: 1em;
}
.videocontest .main .content-selection-aggregation .items .intro .box-link {
  margin-top: 20px;
  font-size: 0.857em;
}
.videocontest .main .content-selection-aggregation .items .graph {
  padding-right: 0px;
}
.videocontest .main .content-selection-aggregation .items .graph:before,
.videocontest .main .content-selection-aggregation .items .graph:after {
  content: " ";
  display: table;
}
.videocontest .main .content-selection-aggregation .items .graph:after {
  clear: both;
}
.videocontest .main .content-selection-aggregation .items .graph .chart {
  width: 236px;
  height: 235px;
  background: url("/eddie/apps/euscreenxlelements/img/sprites.png") 0 -425px no-repeat;
  display: block;
  position: relative;
  float: right;
}
.videocontest .main .content-selection-aggregation .items .graph .chart .total {
  position: absolute;
  text-align: left;
  top: 82px;
  left: 50px;
}
.videocontest .main .content-selection-aggregation .items .graph .chart .total small {
  font-size: 0.714em;
  letter-spacing: 1px;
  margin-left: 5px;
  color: #8b8b8b;
}
.videocontest .main .content-selection-aggregation .items .graph .chart .total h1 {
  font-size: 3.571em;
  margin: 0;
  line-height: 0.8em;
  color: inherit;
}
.videocontest .main .content-selection-aggregation .items .graph .chart .ingest {
  position: absolute;
  bottom: -85px;
  left: 55px;
  text-align: center;
}
.videocontest .main .content-selection-aggregation .items .graph .chart .ingest .line {
  width: 1px;
  background: #c7c7c7;
  height: 20px;
  display: inline-block;
}
.videocontest .main .content-selection-aggregation .items .graph .chart .ingest h1 {
  font-size: 1.2em;
  color: #c7c7c7;
  border: 1px solid #c7c7c7;
  padding: 6px 20px 6px 20px;
  display: table;
  border-radius: 3px;
  margin-top: -6px;
}
.videocontest .main .content-selection-aggregation .items .graph .chart .item {
  position: absolute;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.videocontest .main .content-selection-aggregation .items .graph .chart .item:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.videocontest .main .content-selection-aggregation .items .graph .chart .item .line {
  display: block;
  background: url("/eddie/apps/euscreenxlelements/img/sprites.png") no-repeat;
}
.videocontest .main .content-selection-aggregation .items .graph .chart .item h1 {
  display: inline;
  font-size: 2.143em;
  margin: 0;
}
.videocontest .main .content-selection-aggregation .items .graph .chart .item small {
  font-size: 0.714em;
  letter-spacing: 1px;
  margin-left: 5px;
}
.videocontest .main .content-selection-aggregation .items .graph .chart .document {
  right: 135px;
  top: -55px;
}
.videocontest .main .content-selection-aggregation .items .graph .chart .document h1,
.videocontest .main .content-selection-aggregation .items .graph .chart .document small {
  color: #ffcb16;
}
.videocontest .main .content-selection-aggregation .items .graph .chart .document .line {
  background-position: 0 -389px;
  width: 268px;
  height: 27px;
}
.videocontest .main .content-selection-aggregation .items .graph .chart .audio {
  right: 189px;
  top: -6px;
}
.videocontest .main .content-selection-aggregation .items .graph .chart .audio h1,
.videocontest .main .content-selection-aggregation .items .graph .chart .audio small {
  color: #8cc63f;
}
.videocontest .main .content-selection-aggregation .items .graph .chart .audio .line {
  background-position: 0 -416px;
  width: 215px;
  height: 3px;
}
.videocontest .main .content-selection-aggregation .items .graph .chart .image {
  right: 230px;
  top: 58px;
}
.videocontest .main .content-selection-aggregation .items .graph .chart .image h1,
.videocontest .main .content-selection-aggregation .items .graph .chart .image small {
  color: #ec008c;
}
.videocontest .main .content-selection-aggregation .items .graph .chart .image .line {
  background-position: 0 -419px;
  width: 175px;
  height: 3px;
}
.videocontest .main .content-selection-aggregation .items .graph .chart .video {
  right: 189px;
  top: 150px;
}
.videocontest .main .content-selection-aggregation .items .graph .chart .video h1,
.videocontest .main .content-selection-aggregation .items .graph .chart .video small {
  color: #00aeef;
}
.videocontest .main .content-selection-aggregation .items .graph .chart .video .line {
  background-position: 0 -422px;
  width: 217px;
  height: 3px;
}
.videocontest .main .content-map {
  margin-top: 6px;
  border-left: 5px solid #f2f2f2;
  border-right: 5px solid #f2f2f2;
}
.videocontest .main .content-map h1 {
  color: #8cc63f;
}
.videocontest .main .content-map .box-link:hover {
  color: #8cc63f;
  border-color: #8cc63f;
}
.videocontest .main .content-selection-metadata {
  padding: 0 0 40px 0;
  border-left: 5px solid #f2f2f2;
  border-right: 5px solid #f2f2f2;
}
.videocontest .main .content-selection-metadata .heading {
  border-top: 1px solid #f2f2f2;
  padding-top: 40px;
}
.videocontest .main .content-selection-metadata .heading h4 {
  text-align: center;
  margin: 0px;
  color: #ec008c;
}
.videocontest .main .content-selection-metadata > [class*="col-"] {
  padding: 0px 20px 0px 20px;
}
.videocontest .main .content-selection-metadata .custom-row {
  margin-top: 20px;
}
.videocontest .main .content-selection-metadata .custom-row:before,
.videocontest .main .content-selection-metadata .custom-row:after {
  content: " ";
  display: table;
}
.videocontest .main .content-selection-metadata .custom-row:after {
  clear: both;
}
.videocontest .main .content-selection-metadata .custom-row .custom-col-20 {
  width: 100%;
  float: left;
  text-align: center;
  padding: 10px 10px 0px 10px;
}
.videocontest .main .content-selection-metadata .custom-row .custom-col-20 p {
  font-size: 0.786em;
  letter-spacing: 1px;
  margin-top: 10px;
}
.videocontest .main .content-partners {
  margin-top: 6px;
  border-left: 5px solid #f2f2f2;
  border-right: 5px solid #f2f2f2;
}
.videocontest .main .content-partners h1 {
  color: #00aeef;
}
.videocontest .main .content-partners .partners-filter {
  margin-top: 29px;
}
.videocontest .main .content-partners .partners-filter .nav-tabs {
  border-bottom: 0px;
}
.videocontest .main .content-partners .partners-filter .nav-tabs li {
  margin-right: -4px;
}
.videocontest .main .content-partners .partners-filter .nav-tabs li a {
  border: 1px solid #00aeef;
  border-radius: 3px !important;
  background: none;
  color: #00aeef;
  letter-spacing: 1px;
  font-size: 0.857em;
  padding: 8px 12px 7px 12px;
}
.videocontest .main .content-partners .partners-filter .nav-tabs li a:hover {
  background: #00aeef;
  border-color: #00aeef;
  color: #fff;
}
.videocontest .main .content-partners .partners-filter .nav-tabs li.active a {
  background: #00aeef;
  border-color: #00aeef;
  color: #fff;
}
.videocontest .main .partners-list {
  margin-top: 6px;
  margin-left: -10px;
}
.videocontest .main .partners-list .provider {
  background: #fff;
  padding: 20px;
  border-bottom: 6px solid #f2f2f2;
  text-align: center;
  position: relative;
  border-right: 6px solid #f2f2f2;
}
.videocontest .main .partners-list .provider a .info {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.hal {
	margin-top: 25px;
	margin-bottom: 23px;
}

.tml {
	margin-top: 32px;
  	margin-bottom: 33px;
}

.videocontest .main .partners-list .provider a .info h2 {
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  margin: 0 auto;
  letter-spacing: 1px;
  color: #fff;
  font-size: 0.878em;
  margin-top: 53px;
  padding-right: 10px;
  padding-left: 10px;
}
.videocontest .main .partners-list .provider a:hover .info {
  opacity: 1;
  filter: alpha(opacity=100);
}
.videocontest .main .partners-list .provider .wrap {
  display: block;
  padding-top: 0px;
}
.videocontest .main .partners-list .provider .wrap img {
  display: inline-block;
}
.videocontest .main .videocontest-section [class*='col-'] {
  padding-left: 0px;
  padding-right: 0px;
}
.videocontest .main .videocontest-section .left,
.videocontest .main .videocontest-section .middle,
.videocontest .main .videocontest-section .right {
  position: relative;
  background-size: cover;
  height: 150px;
}
.videocontest .main .videocontest-section .left a,
.videocontest .main .videocontest-section .middle a,
.videocontest .main .videocontest-section .right a {
  display: block;
  width: 100%;
  height: 100%;
}
.videocontest .main .videocontest-section .left a .img-section,
.videocontest .main .videocontest-section .middle a .img-section,
.videocontest .main .videocontest-section .right a .img-section {
  width: 100%;
}
.videocontest .main .videocontest-section .left a .hue,
.videocontest .main .videocontest-section .middle a .hue,
.videocontest .main .videocontest-section .right a .hue {
  width: 100%;
  height: 100%;
  display: block;
}
.videocontest .main .videocontest-section .left a .pads,
.videocontest .main .videocontest-section .middle a .pads,
.videocontest .main .videocontest-section .right a .pads {
  padding-top: 56px;
  display: block;
}
.videocontest .main .videocontest-section .left a .pads h2,
.videocontest .main .videocontest-section .middle a .pads h2,
.videocontest .main .videocontest-section .right a .pads h2 {
  opacity: 0.8;
  filter: alpha(opacity=80);
  font-size: 1.171em;
  color: #ffffff;
  padding: 10px 15px 10px 15px;
  line-height: 1.4em;
  text-align: center;
  border: 2px solid #fff;
  margin: 0 auto;
  width: 80%;
}
.videocontest .main .videocontest-section .left {
  background-image: url('/eddie/apps/euscreenxlelements/img/content/banners/bg-about-explore.gif');
}
.videocontest .main .videocontest-section .left a .hue {
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: background 0.35s;
  transition: background 0.35s;
}
.videocontest .main .videocontest-section .left a:hover .hue {
  background: rgba(140, 198, 63, 0.5);
}
.videocontest .main .videocontest-section .middle {
  background-image: url('/eddie/apps/euscreenxlelements/img/content/banners/bg-about-provider.gif');
}
.videocontest .main .videocontest-section .middle a .hue {
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: background 0.35s;
  transition: background 0.35s;
}
.videocontest .main .videocontest-section .middle a:hover .hue {
  background: rgba(0, 174, 239, 0.5);
}
.videocontest .main .videocontest-section .right {
  background-image: url('/eddie/apps/euscreenxlelements/img/content/banners/bg-about-selection.gif');
}
.videocontest .main .videocontest-section .right a .hue {
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: background 0.35s;
  transition: background 0.35s;
}
.videocontest .main .videocontest-section .right a:hover .hue {
  background: rgba(220, 109, 147, 0.5);
}